.custom-button {
  padding: 8px 28px;
  background: #590CE5;
  border: 2px solid #400AA2;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
/*  margin-left: 30px;*/
    
}


  .button {
        background-color: #1c87c9;           
        
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      border-radius: 30px;
      }
.button:hover{
    font-size: 1.5em;
    color: #131514;
}
