body {
    color: #999;

    font-size: 14px;

    letter-spacing: 0.2px;
    border-top: 3px solid #4c76b4;

    padding-top: 10px;
    background-color: #baddce;

}

.container {

    width: 90%;

    margin: 0 auto;

}

/* --------------- CLEARFIX --------------- */

.clearfix:after {

    content: ".";

    font-size: 0;

    display: block;

    clear: both;

    visibility: hidden;

    line-height: 0;

    height: 0;

}

.clearfix {

    display: inline-block;

}

html[xmlns] .clearfix {

    display: block;

}

* html .clearfix {

    height: 1%;

}

/* ---------------- HEADER ---------------- */

header {}

header h1 {

    color: #4c76b4;

    font-size: 20px;

    text-transform: uppercase;

    margin-bottom: 0;

}

header h3 {

    color: #777;

    font-size: 16px;

    margin-bottom: 0;

    margin-top: 0px;

}

header hgroup {

    width: 300px;

    float: left;

}

header nav {

    float: right;

    width: 600px;

}

.main-nav {

    list-style: none;

    padding: 15px;

}

.main-nav li {

    float: left;

    margin-right: 4px;

}

.main-nav li a {

    color: #aaa;

    text-decoration: none;

    padding: 5px 8px;

}

.main-nav .active a {

    background-color: #4c76b4;

    color: white;

    border-radius: 10px;

}

.main-nav .active a:hover {
    color: #ebcf19;
    cursor: pointer;
    background-color: #eb1938;
    font-weight: bold;
}







footer {
    background-color: #4c76b4;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 3px;
}

@media screen and (max-width: 768px) {}
