body {
    color: #999;

    font-size: 14px;

    letter-spacing: 0.2px;
    border-top: 3px solid #4c76b4;

    padding-top: 10px;
    background-color: #989898;

}

.container {

    width: 80%;

    margin: 0 auto;

}

/* --------------- CLEARFIX --------------- */
/*

.clearfix:after {

    content: ".";

    font-size: 0;

    display: block;

    clear: both;

    visibility: hidden;

    line-height: 0;

    height: 0;

}

.clearfix {

    display: inline-block;

}

html[xmlns] .clearfix {

    display: block;

}

* html .clearfix {

    height: 1%;

}
*/

/* ---------------- HEADER ---------------- */

/*header {}

header h1 {

    color: #8b0808;

    font-size: 15px;

    text-transform: uppercase;

    margin-bottom: 0;

}*/

/*header h3 {

    color: #1040ee;

    font-size: 20px;

    margin-bottom: 0;

    margin-top: 0px;

}*/

/*header hgroup {

    width: 300px;

    float: left;

}*/

/*header nav {

    float: left;

    width: 800px;

}*/

/*.main-nav {

    list-style: none;

    padding: 15px;

}*/
/*

.main-nav li {

    float: left;

    margin-right: 4px;

}

.main-nav li a {

    color: #aaa;

    text-decoration: none;

    padding: 5px 8px;

}

.main-nav .active a {

    background-color: #4c76b4;

    color: white;

    border-radius: 10px;

}

.main-nav .active a:hover {
    color: #ebcf19;
    cursor: pointer;
    background-color: #eb1938;
    font-weight: bold;
}
*/


/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;

}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}




/*footer {
    background-color: #4c76b4;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 3px;
}*/

@media screen and (max-width: 768px) {}
